*{
    margin: 0;
    padding: 0;
    font-family: ו;
}
li{
    list-style: none;
}
img{

    border: 0;
}
a:hover{
    text-decoration: none!important;
}

#top{
    width: 100%;
    height: 40px;
    background-color: #fe5400;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#top span{
    display: inline-block;
    background: #fe5400 url("images/logo.png")no-repeat center;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}
#top a{
    display: inline-block;
    text-align: center;
    width: calc(100% - 60px);
    height: 26px;
    margin: 7px 10px;
    line-height: 26px;
    background-color: #b52600 ;
    color: white;
    border-radius: 4px;
    font-size: 13px;
}
#top a i{
    margin-right: 5px;
}



#bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 42px;
    background: white;
    border-top: 1px solid #f0f0f0;
}
#bottom-nav div{
    float: left;
    width: 20%;
    height: 42px;
    color: #888888;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
}
#bottom-nav div i{
    font-size: 16px;
}



#returnTop{
    position: fixed;
    width: 42px;
    height: 42px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background: white;
    z-index: 1000;
    right: 1rem;
    bottom: 3rem;
    text-align: center;
    color: #888888;
    font-size: 17px;
}
#returnTop p{
    font-size: 12px;
    margin-top: -3px;
    margin-left: 1px;
}


.swiper-pagination-bullet-active{
    background-color: orange!important;
}
#header{
    width: 16rem;
    height: 15rem;
    margin-top: 40px;
}
#header .swiper-slide{
    height: 5rem!important;
}
#header .swiper-slide img{
    width: 100%!important;
}
#header .link{
    border-bottom: 1px solid #eeeeee;
    height: 7rem;
}
#header .link ul{
    padding: 0 0.5rem;
}
#header .link ul li{
    width: 3.75rem;
    float: left;
    text-align: center;
    font-size: 0.6rem;
}
#header .link ul li img{
    width: 2rem;
}
#header .link ul li a{
    color: #7c7974;
}
#header .header-footer{
    height: 2rem;
    border-bottom: 0.5rem solid #eeeeee;
    font-size: .6rem;
}
#header .header-footer img{
    height: 0.8rem;
    padding: 0 0.8rem;
    border-right: 1px solid #f8f8f8;
}
#header .header-footer .header-news{
    border: 1px solid red;
    border-radius: 0.2rem;
    padding: 0.125rem 0.2rem;
}
.header-footer span{
    color: black;
}
.header-news{
    text-align: center;
    line-height: 1.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: red!important;
}
.clear{
    clear: both;
}
#main{
    width: 16rem;
}
.box-left{
    float: left;
}
.box-right{
    float: left;
}
.box-right-top{
    float: left;
}
.box-right-bottom{
    float: left;
}

.box-width-16{
    width: 16rem;
}
.box-width-10{
    width: 10rem;
}
.box-width-10-2{
    width: 10.2rem;
}
.box-width-9{
    width: 9rem;
}
.box-width-8{
    width: 8rem;
}
.box-width-7{
    width: 7rem;
}
.box-width-6{
    width: calc(6rem - 1px);
}
.box-width-5-8{
    width: calc(5.8rem - 1px);
}
.box-width-5{
    width:  calc(5rem - 1px);
}
.box-width-4{
    width: 4rem;
}
.box-width-3{
    width:3.2rem;
}
.box-width-3-4{
    width:calc(3.4rem - 0.7px);
}
.box-width-1{
    width: 1rem;
}


.box-height-10{
    height: 10rem;
}
.box-height-7{
    height: 7.5rem;
}
.box-height-5{
    height: calc(5rem - 1px);
}
.box-height-3{
    height: calc(3rem - 1px);
}
.box-height-4{
    height: 4.5rem;
}
.box-height-2{
    height: 1.5rem;
}
.box-height-1{
    height: 1rem;
}
.color-red{
    color: red;
}
.color-purple{
    color: #7f42b3;
}
.color-yellow{
    color: #e6b21c;
}
.color-green{
    color: #54bb1a;
}


#time{
    position:absolute;
    left: 0.7rem;
    margin-top: 2rem;
}
#time span{
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background: black;
    vertical-align: middle;
    margin-left: 0.15rem;
    color: white;
    text-align: center;
    line-height: 0.75rem;
    font-size: 12px;
}
.box-footer{
    background-color: #eeeeee;
    position: relative;
}
.border-left{
    border-left: 1px solid #f1f1f1;
}
.border-right{
    border-right: 1px solid #f1f1f1;
}
.border-top{
    border-top: 1px solid #f1f1f1;
}
.border-bottom{
    border-bottom: 1px solid #f1f1f1;
}
.box-footer img{
    margin-left: 6.3rem;
}
.box-title{
    line-height: 1.5rem;
    font-size: 0.7rem;
}
.box-line-left{
     background-color: #cccccc;
     height: 1px;
     width: 6rem;
     display: inline-block;
     margin-left: .25rem;
     position: absolute;
     margin-top: 0.75rem;
 }
.box-line-right{
    background-color: #cccccc;
    height: 1px;
    width: 6rem;
    display: inline-block;
    position: absolute;
    margin-top: 0.75rem;
}
.market-line-left{
    background-color: #cccccc;
    height: 1px;
    width: 5.8rem;
    display: inline-block;
    margin-left: .25rem;
    position: absolute;
    margin-top: 0.75rem;
}
.market-line-right{
    background-color: #cccccc;
    height: 1px;
    width: 4rem;
    display: inline-block;
    position: absolute;
    margin-top: 0.75rem;
}
.footer-img{
    margin-left: 6rem!important;
}
.market-more{
    position: absolute;
    margin-left: 4rem;
    line-height: 1.5rem;
}
.market-more img{
    position: absolute;
    right: -0.25rem;
    top:0.45rem;
    width: 0.3rem;
    height: 0.6rem;
}
.box-market{
    float: left;
}
.box-market a h5{
    color: black;
    padding: 0;
    margin: 0.5rem 0 0 0.7rem!important;
}
.box-market a p{
    color: #cccccc;
    margin: 0 0 0.7rem 0.7rem!important;
    font-size: 0.6rem;
}
.box-small-market{
    float: left;
}
.box-small-market h5{
    margin: 1rem 0 0 0.8rem;
}
.box-small-market p{
    margin: 0.2rem 0 0.5rem 0.8rem;
    color: #cccccc;
    font-size: 0.6rem;
}



.main-store{

}
.store-title{
    width: 16rem;
    height: 1.5rem;
    border-bottom: 1px solid #f1f1f1;
}
.store-title-first{
    height: 1.5rem;
    background-color: #ff9b43;
    width: 0.2rem;
    margin-right: 0.3rem;
    display: inline-block;
    float: left;
}
.store-title span{
    line-height: 1.5rem;
    display: inline-block;
    font-size: .7rem;
}
.store-title-last{
    font-size: 0.6rem;
    float: right;
}
.store-title-last i{
    background: url("images/store-title.png")no-repeat center;
    display: inline-block;
    background-size: 100%;
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.35rem;
    float: right;
    margin-right: .5rem;
    margin-left: .2rem;
}
.store-content{
    float: left!important;
    width: 8rem!important;
    height: 7rem!important;
}
.store-content-left{
    height: 5rem;
    float: left;
}
.store-content-right{
    margin: 0 auto!important;
}
.store-content-right img{
    width: calc(2.5rem - 2px);
    height:calc(2.5rem - 2px) ;
    margin-left: 2px;
    margin-top: 2px;
}
.store-content-footer{
    margin-left: .2rem;
    color: #999999;
    margin-top: .3rem;
}
.swiper-pagination2{
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
}



.main-like{
    height: 78.5rem;!important;
}
.like-title{
    height: 1.5rem;
    width: 16rem;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 1.5rem;
    position: relative;
}
.like-line-left{
    display: inline-block;
    height: 1px;
    width: 6rem;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    top: 0.75rem;
}
.like-line-right{
    display: inline-block;
    height: 1px;
    width: 6rem;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 0.75rem;
}
.main-like-box{
    width: 8rem;
    height: 11rem;
    border: 2px solid #eeeeee;
    border-left: none;
    float: left;
}
.main-like-box img{
    width: 100%;
    height: 7rem;
}
.main-like-box div{
    margin-top: 0.5rem;
    padding: 0.3rem 0.4rem 0 0.4rem;
    margin-bottom: 0;
    word-break:break-all;
    width: 8rem;
    height: 1.8rem;
    line-height: .8rem;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    font-size: 14px;
}
.main-like-box span{
    display: inline-block;
    margin-left: 0.4rem;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
}

#footer{
    height:6rem;
    width: 16rem;
    background-color: #4e525e;
}
#footer .footer-button{
    height: 3rem;
}
.footer-button ul li{
    list-style: none;
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer-button ul li a{
    color: #999999;
    height: 1.75rem;
    line-height: 1.75rem;
    border: 1px solid #444444;
    border-radius: 0.2rem;
    padding: 0.5rem .73rem;
    margin: 0 0.4rem;
}
#footer p{
    background-size: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
}
#footer p img{
    width: 0.8rem;
}
#footer p a{
    color: #cccccc;
}